# Project
PROJECT_NAME=some_name

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
TTL=500

# Kafka
KAFKA_BOOTSTRAP_SERVERS='["kafka-1:9092", "kafka-2:9092"]'
TOPIC=views

# ETL
GROUP_ID_REDIS=redis
BATCH_SIZE_REDIS=1


BATCH_SIZE=1

SECRET_KEY = key.secret.example

GROUP_ID_CLICKHOUSE=clickhouse
BATCH_SIZE_CLICKHOUSE=1000
TIMEOUT_CLICKHOUSE=5
