# Project
PROJECT_NAME=some_name

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
TTL=500

# Kafka
KAFKA_BOOTSTRAP_SERVERS='["kafka-1:9092", "kafka-2:9092"]'
TOPIC=views

# ETL
GROUP_ID_REDIS=redis
BATCH_SIZE_REDIS=1

BATCH_SIZE=1


SECRET_KEY = key.secret.example

GROUP_ID_CLICKHOUSE=clickhouse
BATCH_SIZE_CLICKHOUSE=1000
TIMEOUT_CLICKHOUSE=5

# MongoDB
MONGO_HOST=mongos1
MONGO_PORT=27017
DB_NAME=films

# Logstash
LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044


# Sentry
SENTRY_DSN=https://41c0649a6058479788d66692c2ad3f0e@o4505351498694656.ingest.sentry.io/4505351500070912