version: "3"

services:
  web:
    build: ./src/
    env_file:
      - .env
    networks:
      - backend
    environment:
      SECRET_KEY: /run/secrets/secret_key
    secrets:
      - secret_key
    healthcheck:
      test: curl --fail http://localhost 8000 || exit -1
      interval: 10s
      timeout: 10s
      retries: 10
    depends_on:
      - mongos1

  nginx:
    image: nginx:1.23
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d/site.conf:/etc/nginx/conf.d/site.conf:ro
    depends_on:
      - web
    ports:
      - 80:80
    networks:
      - backend

  mongos1:
    image: mongo
    container_name: mongos1
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    networks:
      - backend


secrets:
  secret_key:
    file: ./${SECRET_KEY}


networks:
  backend:
    name: backend
    driver: bridge
