kafka-python==2.0.2
aiokafka==0.8.1
redis==4.4.4
fastapi==0.95.2
uvicorn==0.12.2
gunicorn==20.1.0
uvloop==0.17.0 ; sys_platform != "win32" and implementation_name == "cpython"
orjson==3.8.7
httptools==0.5.0
async-fastapi-jwt-auth[asymmetric]==0.5.1
clickhouse-driver==0.2.6
motor==3.1.2
sentry-sdk[fastapi]==1.25.1
python-logstash==0.4.8
backoff==2.2.1